<h1>Add a Machine</h1>

@model Factory.Models.Machine

@using (Html.BeginForm())
{
  @Html.Label("Machine: ")
  @Html.TextBoxFor(model => model.Name)
  <br><br>
  @Html.Label("Notes: ")
  @Html.TextBoxFor(model => model.Notes)
  <br><br>
  @Html.Label("Maintained by: ")
  @Html.DropDownList("EngineerId")
  <br><br>
  <input type="submit" value="Add Machine" class="btn btn-default" />
}
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>